################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GupdtSrv
/.nuget
/bin/Debug
/FakesAssemblies
/Fakes
/obj/Debug
/packages
/Wonderland Private Server.csproj.user
/Wonderland Private Server.v11.suo
/WloPSrvUpdater
